name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: apt update
      run: sudo apt update && sudo apt upgrade
    - name: Install dependencies
      run: sudo apt install metis lua5.4 liblua5.4-0 liblua5.4-dev iverilog pkg-config gperf build-essential bison flex libreadline-dev gawk tcl-dev libffi-dev git graphviz xdot pkg-config python3 libboost-system-dev libboost-python-dev libboost-filesystem-dev zlib1g-dev
    - name: Build
      run: cargo build --release --verbose 
    - name: Run lib tests
      run: cargo test --release --verbose
    - name: Build yosys
      run: |
        cd yosys
        git submodule update --init --recursive
        make config-gcc
        make -j$(nproc)
    - name: Run examples
      run: cargo test --release --examples
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt -- --check
